.my-agreements {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 20px;
        padding-right: 100px!important;
    }
}

@media (max-width: 576px) {
    .my-agreements__list{
        padding-right: 30px!important;
    }
}