@import "./variables";

html {
  background-color: $white;
}

* {
  font-family: "Montserrat", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
dl {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1140px; /* змініть значення на ваш вибір */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px; /* змініть значення на ваш вибір */
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px; /* змініть значення на ваш вибір */
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px; /* змініть значення на ваш вибір */
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; /* змініть значення на ваш вибір */
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px; /* змініть значення на ваш вибір */
  }
}

.MuiModal-backdrop {
  background-color: rgba(43, 83, 118, 0.69) !important;
  backdrop-filter: blur(5px);
}

.agr-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  outline: none;
  background-color: #FFF;
  border: 1px solid #3A73A5;
  color: #3A73A5;
  &_inverted {
      background: #3A73A5;
      border: 1px solid #FFF;
      color: #FFFFFF;
  }
}

.agr-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #2B5376;
  margin: 30px 0;
}