$indigo: #4D69C6;
$dove-gray: #646464;
$mine-shaft: #313131;
$white: #ffffff;
$athens: #f5f5f7;
$selago: #E7F3FC;
$alice: #F8FCFF;
$declined: #D73737;
$concluded: #3ABE2E;
$pending: #E77F1F;
$astronaut: #2B5376;
$astral: #3A73A5;
$misty: #FCE7E7;
$carolina-blue: #589BD6;
$steel-blue: #4884B9;
$lapis: #286295;