@import "../../styles/variables.scss";

.agreement {
  background-color: white;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  &__sign-form {
    padding: 30px;
    column-gap: 20px;
    max-width: initial;
    padding-bottom: 60px;
  }
  &__content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    flex: 1;
  }
  &__description {
    margin: 30px 0;
    color: $dove-gray;
    text-align: center;
  }
  &__buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  &__title {
    text-transform: uppercase;
    color: $astral;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
  }
  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
    flex: 1;
    &-item {
      font-size: 18px;
    }
    &-user {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      div {
        display: flex;
        align-items: center;
        column-gap: 10px;
      }
      img {
        border-radius: 50%;
        height: 30px;
      }
    }
    span {
      font-weight: bold;
      color: $astral;
    }
  }
  &__status-bar {
    width: 100px;
  }

  &_pending {
    .agreement__status span {
      color: $pending;
    }
    .agreement__status-bar {
      background-color: $pending;
    }
  }
  &_concluded {
    .agreement__status span {
      color: $concluded;
    }
    .agreement__status-bar {
      background-color: $concluded;
    }
  }
  &_declined {
    .agreement__status span {
      color: $declined;
    }
    .agreement__status-bar {
      background-color: $declined;
    }
  }
  &_unsigned {
    .agreement__status span {
      color: $unsigned;
    }
    .agreement__status-bar {
      background-color: $unsigned;
    }
  }
  &_signed {
    .agreement__status span {
      color: $astral;
    }
    .agreement__status-bar {
      background-color: $astral;
    }
  }
}

@media screen and (max-width: 550px) {
  .agreement {
    width: 95%;
    &__content {
        padding: 20px;
    }
  }
}
